@charset "utf-8";

.rgba #main header .title {
	background-image:none;
	background-color:rgba(255,255,255,0.6);
	color:#000;
}
.no-rgba #main header .title {
	background-image:url(w60.png);
	color:#000;
}

.hint {
	color:#ddd;
	background-color:rgba(0,0,0,0.8);
}
.no-rgba .hint {
	background-color:transparent;
	background-image:url(k80.png);
}
.hint a {
	color:#fff;
}

.rgba .thumbs ul li,
.rgba .folders ul li {
	background-color:rgba(255,255,255,0.6);
}
.no-rgba .thumbs ul li,
.no-rgba .folders ul li {
	background-color:transparent;
	background-image:url(w60.png);
}
.rgba .thumbs ul li > a:hover,
.rgba .thumbs ul li > a:focus,
.folders ul li:hover {
	background-color:rgba(255,255,255,0.8);
	outline:none;
	color:#000;
}
.folders ul li > a {
	color:#333;
}
.folders ul li:hover > a {
	color:#000;
}
.no-rgba .thumbs ul li > a:hover,
.no-rgba .thumbs ul li > a:focus,
.no-rgba .folders ul li:hover {
	background-color:transparent;
	background-image:url(w80.png);
}
.rgba .thumbs ul li > a.active,
.no-rgba .thumbs ul li > a.active {
	background-color:#fff;
}
#main article {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba #main article {
	background-color:transparent;
	background-image:url(w80.png);
}
.thumbs ul li > p span.nr {
	font-weight:bold;
	font-style:normal;
	padding:0px 3px;
	color:#222;
	background-color:#fff;
	-moz-border-radius:3px;
	border-radius:3px;
}


#main footer .wrap {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba #main footer .wrap {
	background-color:transparent;
	background-image:url(w40.png);
}

#main header .title .controls,
#main header .startbtn {
	background-color:rgba(0,0,0,0.4);
}
.no-rgba #main header .title .controls {
	background-color:transparent;
	background-image:url(k40.png);
}
#main header .title .controls a {
	background-image:url(controls_c.png);
}
#main header .startbtn {
	background-image:url(start_c.png);
}
#main header .title .controls:hover,
#main header .startbtn:hover {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba #main header .title .controls:hover {
	background-color:transparent;
	background-image:url(w80.png);
}

.rgba .scrbar {
	background-color:rgba(0,0,0,0.1);
}
.no-rgba .scrbar {
	background-color:transparent;
	background-image:url(k10.png);
}
.hook-s,
.scrup,
.scrdn {
	background-image:url(pg_c.png);
}


.rgba .gallery .scrollbox,
.rgba .gallery .bottom .cont {
	background-color:rgba(255,255,255,0.4);
}
.no-rgba .gallery .scrollbox,
.no-rgba .gallery .bottom .cont {
	background-color:transparent;
	background-image:url(w40.png);
}
.rgba.touch .gallery .scrollbox,
.rgba.touch .gallery .bottom .cont,
.rgba .gallery .scrollbox:hover,
.rgba .gallery .bottom .cont:hover {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba .gallery .scrollbox:hover,
.no-rgba .gallery .bottom .cont:hover {
	background-color:transparent;
	background-image:url(w80.png);
}
.rgba .gallery .scrollbox .cont a:hover, 
.rgba .gallery .scrollbox .cont a:focus {
	background-color:rgba(0,0,0,0.2);
	outline:none;
}
.no-rgba .gallery .scrollbox .cont a:hover, 
.no-rgba .gallery .scrollbox .cont a:focus {
	background-image:url(k20.png);
}
.rgba .gallery .scrollbox .cont a.active {
	background-color:rgba(0,0,0,0.4);
}
.no-rgba .gallery .scrollbox .cont a.active {
	background-color:transparent;
	background-image:url(k40.png);
}
.hook-c,
.gallery .scrollbox .scleft,
.gallery .scrollbox .scright {
	background-image:url(scroll_c.png);
}
.rgba .gallery .bottom .meta b {
	color:rgba(0,0,0,0.5);
}
.no-rgba .gallery .bottom .meta b {
	color:#888;
}


.rgba .gallery .navigation nav {
	background-color:rgba(255,255,255,0.8);
}
.no-rgba .gallery .navigation nav {
	background-color:transparent;
	background-image:url(w80.png);
}
.hook-c,
.gallery .navigation nav a {
	background-image:url(controls_c.png);	
}

.gallery .bottom nav {
	border:1px solid #878174;
	color:#222;
	background-color:#999;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(1, rgba(188,184,175,1)));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:-ms-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFFFF,EndColorStr=#FFbcb8af);
	
}
.hook-b,
.gallery .bottom nav a {
	border-left:1px solid #a59e8e;
	background-image:url(buttons_c.png);
}
.gallery .bottom nav a.active {
	background-color:rgba(0,0,0,0.2);
	border-left-color:#878174;
}
.no-rgba .gallery .bottom nav a.active {
	background-color:#a59e8e;
}
.hook-b,
.gallery .bottom .icon {
	background-image:url(buttons_c.png);
}



